    @model WebUI.Models.CreateModel
@{
    ViewBag.Title = "Create";
}



    
<!--<section id="loginForm">-->
   

<!--    <fieldset><a href="~/Views/Account/_ExternalLoginsListPartial.cshtml">~/Views/Account/_ExternalLoginsListPartial.cshtml</a>
        <legend>Log in Form</legend>-->
<div id="container_demo" >
    <div id="wrapper">
        <div id="login" class="animate form">
            
                <h1>Create Funds</h1>
                <p>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </p>
                <p>
                    @Html.LabelFor(m => m.frequency)
                    @Html.TextBoxFor(m => m.frequency)
                    @Html.ValidationMessageFor(m => m.frequency)
                </p>
                            <p>
                    @Html.LabelFor(m => m.PayAmount)
                    @Html.TextBoxFor(m => m.PayAmount)
                    @Html.ValidationMessageFor(m => m.PayAmount)
                </p>
                            <p>
                    @Html.LabelFor(m => m.Goal)
                    @Html.TextBoxFor(m => m.Goal)
                    @Html.ValidationMessageFor(m => m.Goal)
                </p>
                            <p>
                    @Html.LabelFor(m => m.FirstDate)
                    @Html.TextBoxFor(m => m.FirstDate)
                    @Html.ValidationMessageFor(m => m.FirstDate)
                </p>
                            
                            <p>
                    @Html.LabelFor(m => m.ReleaseDate)
                    @Html.TextBoxFor(m => m.ReleaseDate)
                    @Html.ValidationMessageFor(m => m.ReleaseDate)
                </p>
                <p class="login button">
                    <input type="submit" value="Create" />
                </p>
                <p class="change_link">
                 Go Back   @Html.ActionLink("Register", "Back") 
                </p>
           </div>
        
    </div>
</div>
