<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>@ViewBag.Title -Piggie.ie</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Style1.css")
        @Styles.Render("~/Content/animate-custom.css")
        @Scripts.Render("~/bundles/modernizr")



    </head>
    <body style="background-color:#FFFFF0">
        <header>
            <div class="content-wrapper">
                        <img alt="logo" style="margin:25px auto;display:block" height="10%" src="~/Images/piggielogo.jpg" width="30%"  />
                </div>

        


           
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
