    @model WebUI.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

<div id="container_demo" >
    <div id="wrapper">
        <div id="login" class="animate form">

        @using (Html.BeginForm()) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <h1>Login</h1>
                        <p>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                        </p>
                        <p>
                            @Html.LabelFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password)
                        </p>
                    <input type="submit" class="login button" value="Login" />
                    <p class="change_link">
                        Join Us!   @Html.ActionLink("Register", "Register") 
                    </p>
                }
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Piggie.ie</p>
            </div>
        </div>
    </footer>
 </div>
        
        

        
    <!--</fieldset>

}
<!--</section>-->
    


