    @model WebUI.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}



    
<!--<section id="loginForm">-->
   

<!--    <fieldset><a href="~/Views/Account/_ExternalLoginsListPartial.cshtml">~/Views/Account/_ExternalLoginsListPartial.cshtml</a>
        <legend>Log in Form</legend>-->
        <div id="container_demo" >
    <div id="wrapper">
        <div id="login" class="animate form">
            
                <h1>Log in</h1>
                <p>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </p>
                <p>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </p>
                <p class="keeplogin">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </p>
                <p class="login button">
                    <input type="submit" value="Login" />
                </p>
                <p class="change_link">
                 Join Us!   @Html.ActionLink("Register", "Register") 
                </p>
           
        </div>
    </div>

<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year - Piggie.ie</p>
        </div>
    </div>
</footer>    
 </div>       
        
        

        
    <!--</fieldset>

}
<!--</section>-->
    


