@model WebUI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<link rel="stylesheet" type="text/css" href="~/Content/Style1.css" />
<link rel="stylesheet" type="text/css" href="~/Content/animate-custom.css" />  
           <div id="container_demo" > 
               <div id="wrapper">
                    <div id="login" class="animate form">

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>daithi</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
        </div>
    </div>
</div>
<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Piggie.ie</p>
                </div>
            </div>
        </footer>    